h2 {
  text-align: center;
  margin-top: 200px;
}

.App table {
  border-collapse: collapse;
  border: 1px solid rgb(186, 186, 186);
  max-width: 800px;
  min-width: 640px;
  margin: 20px auto;
}

.App table thead {
  background: rgb(238, 238, 238);
}

.App th {
  padding: 10px;
}

.App tr {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.App td {
  padding: 10px 10px;
  text-align: center;
}

.App img{
  width: 80px;
  height: 80px;
}

 .App button {
    width: 100px;
    height: 34px;
 }

 .App table table {
  margin: 0 auto;
  min-width: 600px;
 }

 /* pagination */
 .App ul {
  margin: 20px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}

.App .selected a{
  background-color: rgb(143 143 143);
  border-color: rgb(143 143 143);
  color: #fff;
}

.App li a{
  border: 1px solid rgb(238, 238, 238);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
